<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbarre.css">
    <title>Barre de navigation</title>
</head>
<body>
    <header class="header">
            <h1 class="logo">HoneyTea</h1>

            <nav class="navbar">
                <ul class="headnav">
                    <li><a href="accueil">Accueil</a></li>
                    <li><a href="menu">Menu</a></li>
                    <li><a href="equipe">Notre Équipe</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </nav>
    </header>
</body>
</html>