<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/accueil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <title>Accueil</title>
</head>

<body>
    <%- include('partials/navbarre') %>

<h2>Bienvenue</h2>


    <main>
        <div class="main">
            <img src="images/IMG_8077.jpg" width="350px">
</div>
    </main>
       <!-- Section About -->
       <section class="about" id="about">

           <p class="pres">Chez <strong>HoneyTea</strong>, nous croyons que chaque tasse de thé 
            raconte une histoire. Nous vous proposons une sélection raffinée de thés et gourmandises,
            préparés avec amour et des ingrédients naturels de Mayotte. Venez passer un moment de 
            détente convivial seul ou accompagné. Vous pouvez également commander et vous faire livrer chez vous!
            Découvrez notre menu!</p>
        
        </section>

        <%- include('partials/footer') %>
    </body>
   </html>