<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commander</title>
</head>
<body>
    <h3>Créez un nouveau plat</h3>
    <form action="/commande" method="post">
        <label for="">Nom</label>
        <input type="text" name="Commande"  placeholder="Nom">
    <br><br>    
    <label for="">Prix</label>
    <input type="text" name="Commande"  placeholder="Prix">
    <br><br>    

    
        <button type="submit">Enregistrer</button>
</body>
</html>