<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <title>Nous contacter</title>
</head>
<body>
    <%- include('partials/navbarre') %>

    <!-- h2 -->
    <h2 class="res">Souhaitez-vous faire une réservation? <br>Avez-vous un message?</h2>

    <!-- div container -->
    <div class="container">

        <!-- h3 CONTACT -->
        <section class="contact" id="contact">
            <h3>Contactez-nous</h3>
        </section>

        <!-- FORMULAIRE -->
        <form>
            <label for="name">Nom et Prénom :</label>
            <input type="text" id="name" name="name" placeholder="Entrez votre nom et prénom" required>
        
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" placeholder="Entrez votre email" required>

            <label for="date">Date de réservation souhaitée:</label>
            <input type="date" name="Date">
            
        
            <label for="message">Message :</label>
            <textarea id="message" name="message" placeholder="Entrez votre message"></textarea>
        
            <button type="submit">Envoyer</button>
        </form>
        
    </div>
    <br><br> <br>

<!-- MAIL ET NUMERO -->
    <div class="hon">Envoyez-nous un email:
    <a href="mailto:contact@honeytea.fr"> contact@honeytea.fr</a> - 
    Appelez-nous: 0639098765 ou au 0269123456
       <br> <br>
    </div>

    <br>
    <hr>
<!-- Adresse -->
 <p class="ad">HoneyTea - Salon de thé, 54 rue Vahani, 97615 Pamandzi</p>

    <!-- tableau -->

    <table>
        <thead>
            <tr>
                <th colspan="2">Horaires d'ouverture et de fermeture</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lundi</td>
                <td>Fermé</td>
            </tr>
            <tr>
                <td>Mardi</td>
                <td>10-19h</td>
            </tr>
            <tr>
                <td>Mercredi</td>
                <td>10-19h</td>
            </tr>
            <tr>
                <td>Jeudi</td>
                <td>10-19h</td>
            </tr>
            <tr>
                <td>Vendredi</td>
                <td>10-19h</td>
            </tr>
            <tr>
                <td>Samedi</td>
                <td>10-19h</td>
            </tr>
            <tr>
                <td>Dimanche</td>
                <td>10-18h30</td>
            </tr>
        </tbody>
    </table>
    

    <!-- FOOTER -->
    <!-- <footer>
        <p> 2024 Salon de Thé "HoneyTea". Tous droits réservés.</p>
    </footer> -->
    
    <%- include('partials/footer') %>


    </body>
</html>