<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/equipe.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <title>Notre Equipe</title>
</head>
<body>

    <!-- H1 -->
    <h1>Découvrez l'équipe HoneyTea!</h1>
    
    <!-- présentation de l'équipe -->
     <h3>Nous sommes composés de:</h3>
     <ul>
        <% equipe.forEach (e => { %>

           <li> <em><%= e.nom %></em> - <em> <%= e.role %></em></li>
   <% }) %>
       
   </ul>
    <!-- <ul><br><br>
        <li>Thouaïbat Sélim - Créatrice et Gérante de HoneyTea</li>
        <br>
        <li>Kamal Abdou - Cuisinier/Pâtissier</li>
        <br>
        <li>Fatima Houmadi - Serveuse</li>
        <br>
        <li>Ali Hachim - Livreur</li>
        <br>
        <li>Bacar Daoud - Comptable</li> -->
    </ul>

    <!-- footer -->
    <footer>
        <p> 2024 Salon de Thé "HoneyTea". Tous droits réservés.</p>
    </footer>

</body>
</html>