/* Body */
   body {
    font-family: Oleo Script;
    margin: 0;
    padding: 0;
    background-color: #e3cbe6;
    color: #1E3A4F;
}


/* h2 */
h2 {
    font-size: 30px;
    text-align: center;
}

/* image */
main {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;    /* Centre verticalement */
    /* height: 70vh;          Prend toute la hauteur de la page */
}

img {
    max-width: 100%;
    height: auto;
}

/* section about */
section {
    padding: 40px 20px;
    text-align: center;
}

/* bouton */
button {
    background-color: #8072e9;
    font-family: Oleo Script;
    color: white;
    border: none;
    padding: 10px 10px;
    /* margin-top: 20px;  */
    cursor: pointer;
    border-radius: 4px;
    font-size: 10px;
    display: inline-block;
}
button:hover {
    background-color: #a16ca1;
}

button a {
    text-decoration: none;
    color: white;
}

/* Paragraphe présentation */
.pres {
    font-size: 20px;
}