/* Body */
   body {
    font-family: Oleo Script;
    margin: 0;
    padding: 0;
    background-color: #e3cbe6;
    color: #1E3A4F;
}

/* class container */
/* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* h2 */
h2 {
    font-size: 30px;
    text-align: center;
}

/* image */
main {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;    /* Centre verticalement */
    /* height: 70vh;          Prend toute la hauteur de la page */
}

img {
    max-width: 100%;
    height: auto;
}

/* section about */
section {
    padding: 40px 20px;
    text-align: center;
}

/* Paragraphe présentation */
.pres {
    font-size: 20px;
}