/* body */
body {
    font-family: 'Oleo Script';
    margin: 0;
    padding: 0;
    background-color: #a278f4;
    color: #333333;
    /* line-height: 1.6; */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*S'assure que le body occupe toute la hauteur de la fenêtre */
}

/* h2 */
h2 .dec {
    text-align: center;
    color: #1E3A4F;
    margin: 15px 0; /* Réduction des marges autour du titre */
}

h2 {
    text-align: center;
    font-size: 30px;
}

h3 {
    text-align: center;
    color: #1E3A4F;
}

/* présentation équipe */
ol {
    text-align: center;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 2em;
    background-color: #bfe8f3;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px; /* Réduction du padding interne de la liste */
    margin: 10px auto 5px; /* Réduction de la marge inférieure pour rapprocher le footer */
    display: inline-block; /* Ajuste la taille au contenu */
}

/* liste équipe */
li {
    text-align: center;
    list-style: none;
}
