/* Body */
body {
    font-family: Oleo Script;
    background-color: #efd9eb;
    color: #1E3A4F;
    margin: 0;
    padding: 0;
}

/* h2 */
h2 {
    color: #1E3A4F;
    background-color: rgb(241, 250, 250);
    text-align: center;
    border-style: solid;
    border-radius: 2em;
    border-color: #c44baa;
    font-size: 25px;
}

/* h3 */
h3 {
    color: #1E3A4F;
}

/* header */
.header {
    background-color: #A0D6E7; /* Bleu clair */
    padding: 20px;
    text-align: center;
}

/* ul */
ol {
    list-style-type: none;
    padding: 0;
}

/* li */
ol li {
    display: flex;
    justify-content: space-between;
    background-color: #E8F5F9; /*  */
    color: #1E3A4F; /* Texte*/
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #79B4C5; /* Bordure*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* hover liste */
li:hover{
    background-color: #e1c4e1;
}

/* bouton */
button {
    background-color: #8072e9;
    font-family: Oleo Script;
    color: white;
    border: none;

    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: inline-block;
}

.comm {
    padding: 10px 20px;
    margin-top: 20px;
}


button:hover {
    background-color: #a16ca1;
}

.bouton {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    }

button a {
    text-decoration: none;
    color: white;
}

button .enregistrer {
    background-color: #8072e9;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 5px;
}

input{
    font-family: Oleo Script;
}


/* bon appétit */
.tea {
    text-align: center;
    font-size: 50px;
}
